ASPNETCORE_ENVIRONMENT=Development

SQLSERVER_HOST=host.docker.internal
SQLSERVER_PORT=1433
SQLSERVER_INSTANCE=
SQLSERVER_DATABASE=HistoriasPaolinDb
SQLSERVER_USER=
SQLSERVER_PASSWORD=
SQLSERVER_INTEGRATED_SECURITY=false
SQLSERVER_ENCRYPT=true
SQLSERVER_TRUST_SERVER_CERTIFICATE=true
SQLSERVER_CONNECT_TIMEOUT=30
SQLSERVER_COMMAND_TIMEOUT=60

JWT_ISSUER=portal-corporativo
JWT_AUDIENCE=portal-corporativo-clients
JWT_SECRET=CHANGE_ME_MINIMUM_32_CHARACTERS_LOCAL_ONLY

PORTAL_GATEWAY_BASE_URL=http://api-gateway:8080
HISTORIASPAOLIN_API_PORT=5080
HISTORIASPAOLIN_WORKER_ENABLED=true
